/* Import Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans:400,700");
/* Global Variables */
/* Base styles */
html {
  font-size: 16px; }

body {
  text-align: center; }

.section-title {
  position: relative;
  max-width: 370px;
  margin: 0 auto 60px;
  padding-bottom: 18px;
  font: 400 1.875rem/3.125rem "Quicksand", sans-serif;
  color: black;
  background-position: bottom;
  background-size: 100% 1px;
  background-repeat: repeat-x;
  background-image: repeating-linear-gradient(-90deg, #000 0, #000 46%, transparent 46%, transparent 54%); }
  .section-title:before {
    position: absolute;
    top: 64px;
    left: 50%;
    display: block;
    content: '';
    width: 6px;
    height: 0;
    border-color: #000 transparent;
    border-style: solid;
    border-width: 0 2px 4px;
    transform: translateX(-50%); }
  .section-title:after {
    display: block;
    position: absolute;
    content: "";
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border-width: 2px 3px 0;
    border-style: solid;
    border-color: #000 transparent transparent; }

.section-title-white {
  color: #fff;
  background-image: repeating-linear-gradient(-90deg, #fff 0, #fff 46%, transparent 46%, transparent 54%); }
  .section-title-white:before {
    border-color: #fff transparent; }
  .section-title-white:after {
    border-color: #fff transparent transparent; }

p {
  color: #000000;
  font: 400 0.8125rem/1rem "Quicksand", sans-serif; }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

img {
  max-width: 100%; }

h3 {
  margin: 0 0 20px;
  font: 400 1.5rem/1.7rem "Quicksand", sans-serif;
  color: #000; }

.section {
  padding: 120px 0; }

/* Styles for header */
.header .navbar-brand {
  height: auto; }
  .header .navbar-brand h1 a {
    display: inline-block; }
  .header .navbar-brand h1 img {
    display: inline-block; }
.header .header-navigation {
  background-image: none;
  background-color: #ff5959;
  border: none;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .header .header-navigation .menu {
    padding: 10px 0; }
    .header .header-navigation .menu li {
      padding: 15px 1px; }
      @media (min-width: 768px) {
        .header .header-navigation .menu li {
          padding: 28px 1px; } }
      .header .header-navigation .menu li a {
        padding: 0 15px;
        font: 700 0.875rem/1.8125rem "Quicksand", sans-serif;
        color: #e8e8e8; }
        .header .header-navigation .menu li a:hover {
          background-color: #fc7d7d;
          border-radius: 5px; }
.header .navbar-default .navbar-toggle {
  margin: 35px 15px;
  border-color: #e8e8e8; }
  .header .navbar-default .navbar-toggle:hover {
    background-color: #e8e8e8; }
    .header .navbar-default .navbar-toggle:hover .icon-bar {
      background-color: #ff5959; }
  .header .navbar-default .navbar-toggle .icon-bar {
    background-color: #e8e8e8; }

/*Styles for hero section*/
.hero {
  background-color: #fff;
  padding-top: 100px; }
  @media (min-width: 768px) {
    .hero .hero-content {
      padding: 80px 0;
      display: flex;
      justify-content: center; } }
  @media (min-width: 992px) {
    .hero .hero-content {
      padding: 100px 0; } }
  .hero .hero-information {
    max-width: 450px;
    padding: 0 15px;
    text-align: left; }
    .hero .hero-information span {
      display: inline-block;
      margin-bottom: 20px;
      font: 700 1.25rem/1.75rem "Droid Sans", sans-serif;
      text-transform: uppercase;
      color: black; }
      @media (min-width: 992px) {
        .hero .hero-information span {
          font-size: 1.875rem;
          line-height: 2rem; } }
  .hero .main-title {
    margin: 0;
    font: 700 3.125rem/4.5rem "Droid Sans", sans-serif;
    text-align: left;
    color: black; }
    @media (min-width: 992px) {
      .hero .main-title {
        font-size: 4.5rem; } }
  .hero .description {
    max-width: 450px;
    margin-bottom: 28px;
    text-align: left;
    color: #000; }
  .hero .hero-image {
    display: none; }
    @media (min-width: 768px) {
      .hero .hero-image {
        display: flex;
        align-items: center; } }

/* Styles for buttons*/
.button {
  display: inline-block;
  min-width: 170px;
  padding: 15px 20px;
  margin: 0 20px 10px 0;
  font: 700 1.125rem/1.125rem "Droid Sans", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: 2px solid #ff5959;
  border-radius: 5px;
  background-color: #ff5959; }
  .button:hover {
    text-decoration: none;
    color: #ff5959;
    background-color: #e8e8e8; }

/* styles for services section */
.services {
  background-color: #e8e8e8; }

.services-list .single-service {
  margin-bottom: 30px; }
  .services-list .single-service:last-child {
    margin-bottom: 0; }
  .services-list .single-service img {
    max-width: 200px;
    margin-bottom: 10px; }
  .services-list .single-service h3 {
    margin-bottom: 25px; }

/* styles for portfolio section */
.portfolio {
  background-color: #ff5959; }

.portfolio-images li {
  position: relative;
  margin-bottom: 65px; }
  .portfolio-images li:hover .overlay {
    display: block; }
  .portfolio-images li .overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(255, 89, 89, 0.5); }

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .overlay-content h3 {
    color: #fff; }

.overlay-buttons a:first-child {
  margin-right: 14px; }
.overlay-buttons a {
  display: inline-block;
  width: 29px;
  height: 29px;
  content: ''; }
  .overlay-buttons a:hover {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
    border-radius: 10px; }

/* Styles for Team section*/
.team {
  background-color: #e8e8e8; }

.team-members-list .team-member {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .team-members-list .team-member span {
    display: block;
    margin-bottom: 22px; }
  .team-members-list .team-member .information {
    margin-bottom: 10px; }
  .team-members-list .team-member .team-image {
    width: 268px;
    height: 268px;
    display: block;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #ff5959; }

.social-links {
  display: flex; }
  .social-links li {
    margin: 5px; }
    .social-links li a {
      display: block;
      width: 24px;
      height: 24px;
      font-size: 0.875rem;
      color: white;
      border-radius: 50%; }
      .social-links li a.facebook-icon {
        background-color: #547bbd; }
      .social-links li a.twitter-icon {
        background-color: #74caf0; }
      .social-links li a.google-icon {
        background-color: #4a4a4a; }
      .social-links li a.linked-icon {
        background-color: #1385c8; }
      .social-links li a.pinterest-icon {
        background-color: #eb5756; }
      .social-links li a:hover {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
        opacity: 0.9;
        text-decoration: none; }
      .social-links li a span {
        line-height: 1.5rem; }

/* Styles for blog section*/
.blog {
  background-color: #ff5959; }

.articles-list .single-article {
  margin-bottom: 20px;
  text-align: left;
  color: #fff; }
  .articles-list .single-article img {
    width: 100%;
    margin-bottom: 10px; }
  .articles-list .single-article .article-title {
    margin-bottom: 8px;
    font: 700 1.125rem/1.5rem "Quicksand", sans-serif; }
    .articles-list .single-article .article-title a {
      color: #fff; }
      .articles-list .single-article .article-title a:hover {
        text-decoration: underline; }
  .articles-list .single-article .publish-date {
    display: block;
    margin-bottom: 10px;
    font: 300 0.8125rem/1.5rem "Quicksand", sans-serif; }
    .articles-list .single-article .publish-date .fa {
      margin-right: 6px; }
  .articles-list .single-article .excerpt {
    margin-bottom: 6px;
    color: #fff; }
  .articles-list .single-article .author,
  .articles-list .single-article .number-comments {
    font: 400 0.8125rem/1.5rem "Quicksand", sans-serif; }
    .articles-list .single-article .author .fa,
    .articles-list .single-article .number-comments .fa {
      margin-right: 14px;
      font-size: 1rem; }
  .articles-list .single-article .author {
    margin-right: 36px; }

/* Styles for footer */
.footer {
  background-color: #ff5959;
  padding: 38px 0; }
  .footer .copyright {
    color: #e8e8e8;
    font: 400 0.8125rem/1.5625rem "Quicksand", sans-serif; }

/* Styles for portfolio section */
.profile {
  display: table-cell;
  justify-content: center; }

.profile-img {
  background-color: #ffffff;
  width: 268px;
  height: 268px;
  border: 2px solid #ff5959;
  border-radius: 134px;
  object-fit: cover; }

.profile-name {
  font-size: 26px; }

.profile-info {
  margin-left: 10px;
  text-align: center; }

.social-links {
  margin: 12px 12px 0 0; }

.article {
  padding: 16px;
  color: #ffffff;
  display: table-cell;
  justify-content: center;
  margin-left: 32px; }

.article-title {
  margin-top: 21px;
  font: 400 0.8125rem/1.5625rem "Quicksand", sans-serif;
  width: 259px;
  height: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; }

.article-text {
  width: 366px;
  height: 169px;
  color: #e8e8e8;
  font: 400 0.8125rem/1.5625rem "Quicksand", sans-serif;
  font-size: 13px;
  text-align: left; }

.article-date {
  color: #e8e8e8;
  font: 400 0.8125rem/1.5625rem "Quicksand", sans-serif;
  font-size: 13px;
  text-align: left; }

.article-image {
  font-weight: 700;
  line-height: 24px;
  font-size: 13px; }

.article-footer {
  float: left;
  font: 400 0.8125rem/1.5625rem "Quicksand", sans-serif; }

/* Styles for Contact section */
.contact {
  background-color: #e8e8e8; }
  .contact .information {
    text-align: left; }
    .contact .information p {
      margin-bottom: 15px; }

.contact-form ul li {
  margin-bottom: 13px; }
.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 12px 16px;
  background-color: #fff;
  border-radius: 5px;
  border: none; }
.contact-form textarea {
  resize: none;
  height: 170px; }

.info-list {
  margin-bottom: 35px; }
  .info-list .fa {
    margin-right: 10px; }
  .info-list li {
    margin-bottom: 10px; }

/*# sourceMappingURL=App.css.map */
