/* Import Fonts */
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

/* Global Variables */
$main-font: "Quicksand", sans-serif;
$secondary-font: "Droid Sans", sans-serif;

$primary-color: #ff5959;
$secondary-color: #e8e8e8;

/* Base styles */
html {
  font-size: 16px;
}

body {
 text-align: center;
}

.section-title {
  font: 400 1.875rem/3.125rem $main-font;
}

p {
  color: #000000;
  font: 400 0.8125rem/1rem $main-font;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
}

.section {
  padding: 54px 0 100px;
}

/* Styles for header */
.header {
  .navbar-brand {
    height: auto;
    h1 {
      a {

      }

      img {
        display: inline-block;
      }
    }
  }

  .header-navigation {
    background-image: none;
    background-color: $primary-color;

    .menu {
      padding: 10px 0;
      li {
        padding: 28px 1px;
        a {
          padding: 0 15px;
          font: 700 0.875rem/1.8125rem $main-font;
          color: $secondary-color;
          &:hover {
            background-color: #fc7d7d;
            border-radius: 5px;
          }
        }
      }
    }
  }

  .navbar-default .navbar-toggle {
    margin: 35px 15px;
    border-color: $secondary-color;
  }
}

/* styles for services section */
.services {
  background-color: $secondary-color;
}

.services-list {
  .single-service {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    img {
      max-width: 200px;
      margin-bottom: 10px;
    }

    h3 {
      margin-bottom: 25px;
    }
  }
}
/* styles for portfolio section */
.portfolio {
  background-color: $primary-color;
}
.portfolio-images {
  li {
    position: relative;
    margin-bottom: 65px;
    &:hover {
      .overlay {
        display: block;
      }
    }

    .overlay {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      color: #fff;
      background-color: rgba(255, 89, 89, 0.5);
    }
  }
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    color: #fff;
  }

}

.overlay-buttons {

  a:first-child {
    margin-right: 14px;
  }

  a {
    display: inline-block;
    width: 29px;
    height: 29px;
    content: '';

    &:hover {
      box-shadow: 0 0 0 2px rgba(255,255,255,.8);
      border-radius: 10px;
    }
  }
}


/* Styles for footer */
.footer {
  background-color: $primary-color;
  padding: 38px 0;

  .copyright {
    color: $secondary-color;
    font: 400 0.8125rem/1.5625rem $main-font;
  }
}